.covidInfo {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.card {
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 8px;
  width: 200px;
  padding: 14px;
  padding-right: 40px;
  text-align: center;
}

.card:hover {
  background: rgba(0, 0, 0, 10%);
}

.card-heading {
  font-size: 20px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 18px;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
}

.infoBox__cases--green {
  color: rgb(65, 206, 65);
}

@media only screen and (max-width: 800px) {
  .covidInfo {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }
}
