table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

thead th {
  text-align: left;
  background: rgba(0, 0, 0, 70%);
  position: sticky;
  color: white;
  top: 0;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
  background: transparent;
  color: white;
}

thead button.ascending::after {
  content: '👇';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: '☝️';
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  color: rgba(0, 0, 0, 70%);
  font-size: 15px;
}

tbody tr:hover {
  background-color: #eee;
}

.country-name {
  color: rgba(0, 0, 0, 80%);
  font-weight: 600;
}

.no-data-text {
  color: rgba(0, 0, 0, 60%);
  font-size: 24px;
  font-weight: 600;
  left: 140%;
  position: relative;
  margin-top: 140px;
}

.new-cases-text {
  color: rgb(218, 69, 69);
}

.recovered-text {
  color: rgb(11, 158, 11);
}

.sort-dropdown {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 50%);
  color: white;
  border-radius: 6px;
  margin-top: 30px;
  font-size: 14px;
}

.sort-dropdown:focus-visible {
  outline: none;
}

.sort-text {
  margin-right: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 60%);
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  tbody td {
    font-size: 16px;
    border: none;
    position: relative;
    padding-left: 50%;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    color: rgba(0, 0, 0, 50%);
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: 'Country';
  }
  td:nth-of-type(2):before {
    content: 'Total Cases';
  }
  td:nth-of-type(3):before {
    content: 'Active Cases';
  }
  td:nth-of-type(4):before {
    content: 'Total Deaths';
  }
  td:nth-of-type(5):before {
    content: 'Recovered';
  }
  td:nth-of-type(6):before {
    content: 'Deaths 1MP';
  }
  td:nth-of-type(7):before {
    content: 'Cases 1MP';
  }

  .no-data-text {
    color: rgba(0, 0, 0, 60%);
    font-size: 24px;
    font-weight: 600;
    left: 30%;
    position: relative;
    margin-top: 20px;
  }
}
