.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  height: 40px;
  width: 300px;
  border-radius: 6px;
  font-size: 16px;
  padding-left: 20px;
  border: 1px solid rgba(0, 0, 0, 10%);
}

.header-text {
  color: #fc3c3c;
}

@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
  }
}
