body {
  box-sizing: border-box;
}

.app {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1100px) {
  .app {
    width: 95%;
    margin: 0 auto;
  }
}
